@import url(./utilities.css);

.footer {
  max-width: 70%;
  margin: 1rem auto;
  overflow: auto;
}

.footer p {
  margin-bottom: 2rem;
}

.footer-columns {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
}

.footer-columns li {
  margin-bottom: 0.7rem;
}

.footer a {
  color: var(--footer-link);
  font-size: 0.9rem;
  text-decoration: none;
}
