.main-nav {
  width: 100%;
  color: white;
  font-size: 0.9rem;
  position: fixed;
  z-index: 20;
  top: 0;
  background-color: var(--background);
}

.nav-container {
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem;
  height: 3.5rem;
}

.nav-left {
  align-items: center;
  height: 2rem;
}

.nav-left img {
  height: 2rem;
  cursor: pointer;
}

.nav-right {
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.join-btn {
  background-color: var(--main-red);
  border-radius: 2px;
  font-weight: 400;
  text-align: center;
  min-width: 5rem;
  height: 2rem;
}

.signin-btn {
  background-color: var(--background);
  border: 1px solid #888;
  border-radius: 2px;
  font-weight: 400;
  text-align: center;
  min-width: 4.6rem;
  height: 2rem;
}

/* Media */

@media screen and (max-width: 670px) {
  .nav-right > span {
    display: none;
  }
  .nav-right {
    display: block;
    align-items: flex-end;
  }

  .nav-container {
    padding: 0 1rem;
  }
}
