.hero-parent {
  font-family: "Poppins", sans-serif;
  align-items: center;
  background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.8) 0,
      rgba(0, 0, 0, 0) 60%,
      rgba(0, 0, 0, 0.8) 100%
    ),
    url("../assets/loginpage/hero-background.jpeg");
  background-size: cover;
  gap: 10rem;
}

.navbar-parent {
  width: 60%;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo-container {
  width: 15%;
}

.navbar-signin-container {
  gap: 0.5rem;
}

.navbar-signin-container select {
  cursor: pointer;
  color: white;
  background-color: transparent;
  border-radius: 5px;
  padding: 0.5rem 1rem;
}

.navbar-signin-container button {
  cursor: pointer;
  color: white;
  background-color: var(--main-red);
  padding: 0.5rem 1rem;
  font-weight: 500;
  border-radius: 5px;
}

.hero-content-container {
  gap: 1rem;
  color: var(--text-color);
  text-align: center;
}

.hero-content-container h1 {
  font-size: 3rem;
  font-weight: 900;
}

.hero-content-container > span {
  font-size: 1.5rem;
  font-weight: 400;
}

.hero-signup-container span {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
}

.hero-form-container {
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

.hero-form-container input[type="text"] {
  color: white;
  background-color: transparent;
}
