.hero-parent {
  width: 100%;
  padding-bottom: 11rem;
  font-family: "Poppins", sans-serif;
  align-items: center;
  background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.8)
    ),
    url("../assets/loginpage/hero-background.jpeg");
  background-position: center;
  background-size: cover;

  gap: 12rem;
}

.navbar-parent {
  width: 60%;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo-container {
  width: 13%;
}

.navbar-signin-container {
  gap: 1.5rem;
}

.navbar-signin-container select {
  cursor: pointer;
  border: 1px solid var(--grey);
  color: white;
  background-color: transparent;
  border-radius: 5px;
  padding: 0.5rem 2rem;
  font-weight: 500;
}

.navbar-signin-container button {
  text-transform: none;
  background-color: var(--main-red);
  padding: 0.5rem 1rem;
  font-weight: 500;
  border-radius: 5px;
}

.hero-content-container {
  width: 45%;
  gap: 1rem;
  color: var(--text-color);
  text-align: center;
}

.hero-content-container h1 {
  font-size: 2.4rem;
  font-weight: 900;
}

.hero-content-container > span {
  font-size: 1.3rem;
  font-weight: 400;
}

.hero-signup-container {
  margin-top: 1rem;
  gap: 1rem;
}

.hero-signup-container span {
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 1.5;
}

.hero-form-container {
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.hero-form-container input[type="text"] {
  color: var(--text-color);
  width: 40%;
  padding: 1rem;
  border: 2px solid var(--grey);
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.4);
}

.hero-form-container input[type="text"]::placeholder {
  font-size: 1rem;
  font-weight: 500;
}

.hero-form-container button {
  text-transform: none;
  padding: 0.7rem 1.5rem;
  background-color: var(--main-red);
  color: var(--text-color);
  font-size: 1.5rem;
  font-weight: 500;
  border-radius: 5px;
}

/* Feature style */

.feature-parent {
  border-top: 10px solid var(--grey);
  font-family: "Poppins", sans-serif;
  padding: 3rem;
  background-color: var(--background);
  align-items: center;
  justify-content: center;
}

.feature-child {
  gap: 1rem;
  width: 70%;
}

.feature-content-container {
  gap: 0.9rem;
  align-items: flex-start;
  justify-content: center;
  color: var(--text-color);
}

.feature-content-container > h2 {
  font-size: 2.5rem;
  font-weight: 900;
}

.feature-content-container > p {
  font-size: 1.5rem;
  font-weight: 400;
}

/* TV section styles */

.tv-image-container {
  width: 70%;
  z-index: 1;
  position: relative;
}

.tv-image {
  z-index: 2;
  display: block;
  width: 100%;
  height: auto;
}

.tv-video {
  width: 80%;
  height: 55%;
  object-fit: cover;
  z-index: -1;
  position: absolute;
  top: 20%;
  left: 13%;
}

/* Download section styles */

.downloads-content-container h2 {
  line-height: 1.2;
}

.download-image-container {
  width: 70%;
  position: relative;
}

.download-overlay-content {
  margin-right: 4rem;
}

.download-overlay-container {
  padding: 1rem;
  border: 3px solid var(--grey);
  background-color: var(--background);
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
  gap: 0.5rem;
  width: 55%;
  top: 69%;
  left: 22%;
  position: absolute;
}

.download-overlay-container img {
  width: 15%;
}

.overlay-title {
  font-size: 1rem;
  color: var(--text-color);
  font-weight: 500;
}

.overlay-subtitle {
  font-size: 0.8rem;
  color: #0071eb;
}
