.hero-parent {
  align-items: center;
  background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.8) 0,
      rgba(0, 0, 0, 0) 60%,
      rgba(0, 0, 0, 0.8) 100%
    ),
    url("../assets/loginpage/hero-background.jpeg");
  background-size: cover;
  height: 79vh;
}

.navbar-parent {
  width: 60%;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo-container {
  width: 15%;
}

.navbar-signin-container {
  gap: 0.5rem;
}

.navbar-signin-container select {
  cursor: pointer;
  color: white;
  background-color: transparent;
  border-radius: 5px;
  padding: 0.5rem 1rem;
}

.navbar-signin-container button {
  cursor: pointer;
  color: white;
  background-color: var(--main-red);
  padding: 0.5rem 1rem;
  font-weight: 500;
  border-radius: 5px;
}
