.page-wrapper {
  margin-top: 50px;
  background-color: var(--grey-background);
  overflow: hidden;
}

.body-container {
  padding: 5%;
  height: 100%;
}

.title-section {
  color: var(--text-color);
  width: 50%;
}

.title {
  font-size: 50px;
  font-weight: 900;
  margin-bottom: 10px;
}

.description {
  font-size: 20px;
  font-weight: 600;
}

.slider {
  width: 100%;
  margin: 30px 0;
  height: 200px;
}

.blurred-sliders {
  position: relative;
}

.blurred {
  width: 100vw;
  height: 100%;
  left: -10px;
  top: -10px;
  position: absolute;
  background-color: transparent;
  backdrop-filter: blur(5px);
  z-index: 1000;
}

.bottom-container {
  font-size: 25px;
  margin: 10% auto;
  text-align: center;
  color: var(--text-color);
  width: 60%;
}

.bottom-btn {
  margin-top: 20px;
  font-size: 20px;
  background-color: var(--main-red);
  padding: 15px;
  border-radius: 5px;
  font-weight: 700;
  width: 25%;
}

h2 {
  font-weight: bolder;
}

.read-more-link {
  color: var(--footer-link);
  text-decoration: none;
  font-weight: 700;
}

.read-more-link:hover {
  text-decoration: underline;
}

@media screen and (max-width: 1000px) {
  .title-section {
    width: 85%;
  }

  .description {
    font-size: 17px;
    font-weight: 600;
  }

  .bottom-container {
    margin-top: 2%;
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .body-container {
    padding: 3%;
  }

  .title-section {
    width: 100%;
  }

  .description {
    font-size: 16px;
    font-weight: lighter;
  }

  .bottom-btn {
    width: 95%;
  }

  .read-more-link {
    margin: 30% 0;
  }
}
